.wrapper {
	margin-left: 8px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-left: 1px dotted grey;
	display: flex;
	align-items: center;
}

.disk_wrapper{
	font-size: 10px;
}
.img {
	width: 60px;
	align-items: center;
	margin-right: 10px;
}
.name {
	font-size: 16px;
	font-weight: 600;
}
.card_title {
	font-weight: 700;
}
